---
---

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;}
a {
  color: #00747F;
  font-weight: 400; }
a:hover {
  color: #00747F;
  text-decoration: underline; }
ul.dropdown a{
  line-height: 20px; }
h3 {
  color: #00747F;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding-top: 5px;
  border-top: 3px solid #00747F;
  margin-top: 30px;
  font-weight: 600; }
h4 {
  color: #706259;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 1.1rem; }
.action-link:after {
  display: inline-block;
  content: '\25B6\25B6\25B6';
  margin-left: 5px;
  font-size: 12px;
}
.full-width {
  width: 100%;
}
.bin {
  padding-bottom: 50px;
}
.dropdown {
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
}
.remove-padding {

}
.mustard-border {
  border-color: #E0C300
}
.svg-logo {
  margin-left: 0.9375em;
}

.fill-teal {
  background-color: #00747F; }
.fill-mustard {
  background-color: #E0C300; }
.fill-offwhite {
  background-color: #F0EEEB; }
.fill-lighter {
  background-color: #f7f6f5; }
.fill-red {
  background-color: #EE3E2C; }
.fill-grey {
  background-color: #222; }


.detail-bar-bin {
  display: none;
}
.detail-bar {
  font-size: 13px;
}
.detail-bar a {
  font-weight: 600;
  padding-bottom: 8px;
  padding-top: 8px;
  color: #706259;
}

.my-account-bin {
  max-width: 62.5em;
  margin: 0 auto;
}
.my-account {
  display: block;
  background-color: #EE3E2C;
  padding: 10px 15px;
  color: #fff;
  margin-right: 0.9375em;
  margin-bottom: 0;
}
.my-account:hover {
  color: #fff;
}

.featurette {
  background: url({{ site.baseurl }}/img/festival_sm.jpg) no-repeat center center;
  height: 320px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.featurette-text-bin {
  margin-bottom: 30px;
}
.featurette-text a {
  color: #fff;
  font-size: 1.15rem;
  margin: 0;
  font-weight: 400;
  padding-bottom: 5px;
}
@media only screen and (max-width: 40.063em) {
  .featurette-text a { padding-bottom: 0; }
}

.featurette-text .copy {
  padding-top: 15px;}

.featurette-text .action {
  padding-bottom: 15px;
}


.main-search {
  margin-top: 115px;
  padding: 0.9375em;
  background-color: rgba(0,116,127,0.5);
}
@media only screen and (max-width: 40.063em) {
  .main-search {
    margin: 0 -0.9375em;
  }
}
.main-search input, .main-search .button {
  margin: 0; }
.main-search input {
  float: left;
  color: #4a413b;
  font-size: 14px;
  font-weight: 400;
  margin-right: -175px;
  margin-bottom: 0px;
  background-image: none;
  border: 0px;
}
.main-search select {
  font-size: 14px;
  float right;
  width: 85px;
  border: 0px;
  background-color: #fff;
  margin-bottom: 0px;
}
.main-search option {
  font-size: 14px;
  color: #706259;
}
.main-search a {
  font-size: 16px;
  margin: 0;
  height: 37px;
  padding: 7px;
  float: right;
  width: 90px;
}
input {
  font-weight: 400;
}
input::-webkit-input-placeholder {
  font-weight: 400;
  color: #b2a69f;
}
input:-moz-placeholder { /* Firefox 18- */
  font-weight: 400;
  color: #b2a69f;
}
input::-moz-placeholder {  /* Firefox 19+ */
  font-weight: 400;
  color: #b2a69f;
}
input:-ms-input-placeholder {
  font-weight: 400;
  color: #b2a69f;
}



@media only screen and (max-width: 40.063em) {
  .featurette {
    height: 220px;
  }
  .main-search {
    margin-top: 0px;
  }
  .top-bar-section ul {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .dropdown {
    box-shadow: none;
  }
  .detail-bar-bin {
    display: block;
  }
  .my-account {
    display: none;
  }

  body .widget-button {
    width: 130px;
  }
}

@media only screen and (max-width: 52em) {
  .top-bar-section ul li > .nav-item {
    font-size: 13px;
    font-weight: 600;
  }

  .top-bar-section ul li > a {
    font-size: 15px;
  }

  .dropdown li a {
    font-size: 14px !important;
  }

}


@media only screen and (min-width: 40.063em) {
  .top-bar-section ul {
    padding-top: 0;
  }
  .show-for-small {
    display: none;
  }

  .main-search {
    padding: 30px;
  }

  .top-bar-section .dropdown li a {
    font-size: 16px;
  }

  .featurette-text .copy {
  padding-bottom: 15px;}

  .featurette-text .action {
    padding-top: 15px;
  }
}

.event-list {
  overflow: hidden; }
.event-list .time {
  float: left;
  width: 80px;
  font-weight: 300;
  overflow: hidden; }

@media only screen and (max-width: 52em) {
  .event-list .time {
    float: none;
    font-size: 90%;
  }
}

.first-arrow {
  margin-left: 5px;
}
.arrow {
  width: 0;
  height: 0;
  padding-left: 4px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 8px solid #fff;
  display: inline-block;
  margin-bottom: -1px;
}
.arrow-teal {
  width: 0;
  height: 0;
  padding-left: 4px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 7px solid #00747F;
  display: inline-block;
  margin-bottom: -1px;
}

.event-list .event-title {
  display: block;
  float: none;
  overflow: hidden;
  color: #00747F;
  font-weight: 400;
  margin-bottom: 7px; }
.event-button {
  text-transform: uppercase;
  margin-top: 10px; }

.book-cover {
  margin-top: 30px; }
article h3 {
  margin-bottom: 0; }
article h5 {
  font-size: 1rem;
  margin-top: 0;
  color: #00747F;
  font-style: italic; }
article h5.author {
  margin-top: 20px;
  font-style: normal;
}
.feature-text {
  padding-top: 5px;
  margin-bottom: .5rem;
}
.feature-title {
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.lists {
  list-style-type: none;
  font-weight: 400;
  text-transform: uppercase;
  border-top: 3px solid #E0C300;
  margin-top: 30px;
  padding-top: 5px;
  margin-left: 0; }
.lists li {
  padding-bottom: 5px;
}
.lists li a {
 font-weight: 400;
  }
.lists li:first-child {
  font-weight: 600;
  color: #00747F;
  padding-bottom: 10px;
  font-size: 1.1rem}


.quote {
padding: 20px 0;}
.quote p, .quote a {
  color: #fff;}
.quote p {
font-size: 1.5rem;
margin-bottom: 0;
font-weight: 200;
margin-top: 25px;}
.quote a {
  font-size: 16px;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 12px;}
.avatar {
  height: 130px;
  width: 130px;
  border-radius: 65px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px; }
.avatar-name {
  color: white;
  display: block;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 400;
}
.avatar-name:hover {
  text-decoration: underline;
  color: white;
}


/* video */
.video-bin {
  max-height: 460px;
  overflow: hidden;
}
.video-width {
  max-width: 1280px;
}
.video-message{
  margin-top: 15px;
  margin-bottom: 20px;
}
.video-message p {
  color: #fff;
  margin-bottom: 0;
}
.video-message a {
  color: #fff;
  width: 140px;
  display: inline-block;
  margin-top: 15px;
  text-transform: uppercase;
}
.video-message h3{
  margin-bottom: 0;
  margin-top: 0;
  border-top: none;
  color: #fff;
}
.msg-left {
  overflow: hidden;
  display: block;
  float: left;
}
.msg-right {
  width: 150px;
  float: right;
}


.subscribe-bin h4 {
  margin: 0;
  line-height: 37px;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 30px;
}
.subscribe-bin input {
  margin: 0;
  margin-bottom: 40px;
}
.subscribe-bin .button {
  margin: 0;
}
@media only screen and (min-width: 64.063em) {
  .subscribe-bin h4 {
    margin-top: 40px;
    text-align: left;
  }
  .subscribe-bin input {
    margin-top: 40px;
  }
  .subscribe-bin .button {
    margin-top: 40px;
  }
}


/* Footer */
.footer {
  padding: 30px 0;
}
.footer ul {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 20px;
}
.footer li {
  font-weight: 400;
}
.footer ul li:first-child {
  text-transform: uppercase;
  font-weight: 600;
}
.footer img {
  width: 140px;
  height: 140px;
  margin-top: -10px;
  float: right;
}
@media only screen and (max-width: 40em) {
  .footer img {
    margin-top: -30px;
    margin-bottom: -30px;
  }
}
.footer-bottom {
  color: #706259;
}
.footer-bottom .connect, .footer-bottom .questions {
  padding: 20px;
}
@media only screen and (max-width: 40em) {
  .footer .connect {
    margin-bottom: 20px;
  }
}
.footer-bottom p {
  margin: 0;
}
.footer-bottom .questions {
  background-color: #EE3E2C;
  text-align: center;
  color: #00747F;
}
.footer-bottom a:hover {
  text-decoration: underline;
}


/* chat widget */
.chat-widget{
  position: fixed; right: 4%; bottom: -400px; width: 210px; height: 400px; margin: auto; border: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
  z-index: 200;
}

body .chat-widget-button{
  border: 0; height: 48px; width: 300px; line-height: 48px; padding: 0; font-size: 16px; cursor: pointer; background-color: transparent; color: #706259; text-align: right; padding-right: 15px; font-weight: 800; vertical-align: middle; z-index: 300;
}
body .chat-widget-button:hover {
  background-color: transparent;
  color: #333;
}
body .chat-widget-button:focus {
  color: #333;
}

body .chat-widget-button:focus, .widget-button:active {
  background-color: transparent;
}

.chat-widget-control{
    display: inline-block;
    font-style: normal;
    font-size: 140%;
    font-weight: 400;
}

.chat-closed > .chat-widget-control{
    transform: rotate(45deg);
}

.chat-open > .chat-widget-control{
    transform: rotate(0);
}

#library-chat-button{
  bottom: -48px;
  right: 4%;
  position: fixed;
  margin: 0;
}

.fluidMedia {
    position: relative;
    padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 20px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-content {
  padding-bottom: 30px;
}
.page-content h1 {
  font-size: 1.6rem;
  color: #EE3E2C;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}
.page-content h2 {
  color: #00747F;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding-top: 5px;
  border-top: 3px solid #00747F;
  margin-top: 30px;
  font-weight: 600;
}

.page-content h3 {
  border-top: none;
  margin-top: 0;
}

.post-content ul {
  padding-left: 1rem;
}

.page-content p a:hover {
  background-color: #f7f6f5;
  text-decoration: underline;
}

.breadcrumbs {
  margin-top: 0px;
}
@media only screen and (max-width: 40.063em) {
  .breadcrumbs {
    margin-top: 30px;
  }
}

.breadcrumbs > *:before {
  top: -1px;
  color: #b09e93 !important;
  margin: 0 0.5rem;
}

.download-button {
  text-transform: uppercase;
}

dl dt {
  font-weight: 400;
  margin-bottom: 0;
}
dl dd {
  font-weight: 300;
}


/* events */
.filter-by-age {
  background-color: #fff;
  width: 100%;
  margin-left: 0;
  margin-bottom: 20px;
}
.filter-by-age:before {
  content: "FILTER BY AGE:";
  padding-left: 10px;
  padding-right: 10px;
}
.filter-by-age li {
  display: inline-block;
  padding: 7px 10px;
}
li.kids a, li.teens a, li.adults a, li.family a, li.all-ages a  {
  padding: 2px 5px;
  color: #fff;
}
li.kids a { background-color: #D60073; }
li.teens a { background-color: #E0C300; }
li.adults a { background-color: #00747F; }
li.family a { background-color: #F7931D; }
li.all-ages a { background-color: purple; }

.event .event-time {
}
.event .event-title {
  font-weight: 600;
  display: block;
}
.event .color-block {
  display: inline-block;
  height: 50px;
  width: 50px;
}

