body {
  font-family: 'Open Sans', sans-serif;
font-weight: 300;}
a {
  color: #004d52;
  font-weight: 400; }
a:hover {
  color: #004d52;
  text-decoration: underline; }
ul.dropdown a{
  line-height: 20px; }
h3 {
  color: #005359;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding-top: 5px;
  border-top: 3px solid #005359;
  margin-top: 30px;
  font-weight: 600; }
h4 {
  color: #594a41;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 1.1rem; }
.action-link:after {
  display: inline-block;
  content: '\25B6\25B6\25B6';
  margin-left: 5px;
  font-size: 12px;
}
.full-width {
  width: 100%;
}
.bin {
  padding-bottom: 50px;
}
.dropdown {
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.2);
}
.remove-padding {

}
.mustard-border {
  border-color: #E0C300
}
.svg-logo {
  margin-left: 20px;
}


.fill-teal {
  background-color: #005359; }
.fill-mustard {
  background-color: #E0C300; }
.fill-offwhite {
  background-color: #F0EEEB; }
.fill-red {
  background-color: #EE3E2C; }


.featurette {
  background: url(../img/festival_sm.png) no-repeat center center;
  height: 320px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.featurette-text {
  color: #fff;
  font-size: 1.1rem;
  margin: 10px;
  font-weight: 400; }
.featurette-text:hover {
  color: #fff; }


.main-search {
  margin-top: 115px;
  padding: 1.5rem;
  background-color: rgba(0, 83, 89, 0.5); }
.main-search input, .main-search .button {
  margin: 0; }
.main-search input {
  color: #594a41;
  font-size: 1rem;
  font-weight: 600}
.main-search .button {
  background-color: #EE3E2C;
  font-size: 1.1rem; }

@media only screen and (max-width: 40em) {
  .featurette {
    height: 220px;
  }
  .main-search {
    margin-top: 0px;
  }
  .top-bar-section ul {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .dropdown {
    box-shadow: none;
  }
}

@media only screen and (max-width: 52em) {
  .top-bar-section ul li > .nav-item {
    font-size: 13px;
    font-weight: 600;
  }
}


@media only screen and (min-width: 40.063em) {
  .top-bar-section ul {
    padding-top: 0;
  }
  .show-for-small {
    display: none;
  }
}

.event-list {
  overflow: hidden; }
.event-list .time {
  float: left;
  width: 80px;
  overflow: hidden; }
.event-list .event-title {
  display: block;
  float: none;
  overflow: hidden;
  color: #005359;
  font-weight: 400;
  margin-bottom: 7px; }
.event-button {
  text-transform: uppercase;
  margin-top: 10px; }

.book-cover {
  margin-top: 30px; }
article h3 {
  margin-bottom: 0; }
article h5 {
  font-size: 1rem;
  margin-top: 0;
  color: #005359;
  font-style: italic; }
article h5.author {
  margin-top: 20px;
  font-style: normal;
}
.feature-text {
  padding-top: 5px;
  margin-bottom: .5rem;
}
.feature-title {
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.lists {
  list-style-type: none;
  font-weight: 400;
  text-transform: uppercase;
  border-top: 3px solid #E0C300;
  margin-top: 30px;
  padding-top: 5px;
  margin-left: 0; }
.lists li {
  padding-bottom: 5px;
}
.lists li a {
 font-weight: 400;
  }
.lists li:first-child {
  font-weight: 600;
  color: #005359;
  padding-bottom: 10px;
  font-size: 1.1rem}


.quote {
padding: 20px 0;}
.quote p, .quote .link {
  color: #fff; }
.quote p {
font-size: 1.5rem;
margin-bottom: 0;
font-weight: 200;}
.quote .link {
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-top: 12px;}
.avatar {
  height: 130px;
  width: 130px;
  border-radius: 65px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px; }
.avatar-name {
  color: white;
  display: block;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 400;
}
.avatar-name:hover {
  text-decoration: underline;
  color: white;
}


/* video */
.video-bin {
  max-height: 460px;
  overflow: hidden;
}
.video-message{
  position: absolute;
  top: 0;
  left: 20;
  padding: 20px 30px;

  background-color: rgba(224, 195, 0, 0.9);
  color: #fff;
}
.video-message p {
font-size: 16px;
margin: 0;
}
.video-message a {
  margin-top: 10px;
  display: block;
  color: white;
  text-align: right;
}
.video-message > h3{
  text-transform: uppercase;
  color: white;
  border: none;
  margin-top: 0;
  margin-bottom: 5px;
}
.video-width {
  max-width: 1200px;
}

@media screen and (max-width: 540px){
  .video-message{position: static; margin-top: -6px; margin-bottom: 6px;}
}


/* Footer */
.footer {
  padding: 50px 0;
}
.footer ul {
  list-style-type: none;
  margin-left: 0;
}
.footer li {
  font-weight: 400;
}
.footer ul li:first-child {
  text-transform: uppercase;
  font-weight: 600;
}
.footer img {
  width: 140px;
  margin-top: -10px;
  float: right;
}
@media only screen and (max-width: 40em) {
  .footer img {
    float: left;
  }
}
.footer-bottom {
  color: #594a41;
}
.footer-bottom .connect, .footer-bottom .questions {
  padding: 20px;
}
.footer-bottom p {
  margin: 0;
}
.footer-bottom .questions {
  background-color: #EE3E2C;
  text-align: center;
  color: #005359;
}
.footer-bottom a {
  color: #005359;
}


/* chat widget */
.chat-widget{
  display: none; position: fixed; right: 4%; bottom: -352px; width: 300px; height: 400px; margin: auto; border: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 1px;
  z-index: 200;
}
body .widget-button{
  display: none; border: 0; height: 24px; width: 26px; line-height: 24px; padding: 0; font-size: 12px; cursor: pointer; background-color: transparent; color: #fff; text-align: center; vertical-align: middle; z-index: 300;
}
body .widget-button:hover {
  background-color: #333;
}
body .widget-button:focus, .widget-button:active {
  background-color: #333;
}
#chat-button{
  bottom: 10px;
  right: 4.8%;
  position: fixed;
  margin: 0;
}
