<div class="detail-bar-bin fill-offwhite">
  <div class="row">
    <div class="small-12 columns">
      <div class="detail-bar">
      <a href="#" class="account-button right">My Account</a>
      <a href="" class="right search-button-small" style="padding-bottom: 0; padding-top: 7px; padding-right: 10px;">
          <svg width="20" height="20" class="svg-logo">
            <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/prototype/img/search-button.svg" src="img/logo.png" width="20" height="20"></image>
          </svg>
        </a>
      <a href="#" class="left"><span style="font-weight: 400;">Open today 'til 9 pm</span></a>
      </div>
    </div>
  </div>
</div>
