<div class="fill-offwhite footer">
  <div class="row">
    <div class="large-4 medium-4 columns">
      <ul>
        <li>Skokie Public Library</li>
        <li>5215 Oakton Street</li>
        <li>Skokie, Illinois 60077</li>
        <li>(847) 673-7774</li>
      </ul>
    </div>
    <div class="large-4 medium-4 columns">
      <ul>
        <li>Hours</li>
        <li>Monday to Thursday, 9 am to 9 pm</li>
        <li>Friday &amp; Saturday, 9 am to 6 pm</li>
        <li>Sunday, Noon to 6 pm</li>
      </ul>
    </div>
    <div class="large-4 medium-4 columns">
      <img src="{{ site.baseurl }}/img/logo-stamp-white.svg">
    </div>
  </div>
  <div class="footer-bottom">
    <div class="row">
      <div class="small-12 columns connect">
        <p>Connect with us on <a href="http://www.facebook.com/skokielibrary">Facebook</a>, <a href="http://www.twitter.com/skokielibrary">Twitter</a>, <a href="#">Instagram</a>, &amp; <a href="http://www.youtube.com/skokielibrary">YouTube</a>.</p>
      </div>
        <iframe src="https://us.libraryh3lp.com/mobile/redesign@chat.libraryh3lp.com?skin=23350" class="chat-widget"></iframe>
        <button class="widget-button" id="chat-button"></button>
    </div>
  </div>
</div>
