<!-- subscribe -->
<div class="row">
  <div class="subscribe-bin">
    <div class="large-4 columns">
      <h4 class="small-centered">Subscribe to our newsletters</h4>
    </div>
    <div class="large-8 columns">
      <div class="small-12 large-12 medium-10 columns small-centered">
        <div class="row collapse">
          <div class="medium-9 small-8 columns">
            <input type="text" placeholder="Your email address">
          </div>
          <div class="medium-3 small-4 columns">
            <a href="#" class="button postfix">Subscribe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--footer-->
<div class="fill-offwhite footer">
  <div class="row">
    <div class="large-4 medium-4 columns">
      <ul>
        <li>Skokie Public Library</li>
        <li>5215 Oakton Street</li>
        <li>Skokie, Illinois 60077</li>
        <li>(847) 673-7774</li>
      </ul>
    </div>
    <div class="large-4 medium-4 columns">
      <ul>
        <li>Hours</li>
        <li>Monday to Friday, 9 am to 9 pm</li>
        <li>Saturday, 9 am to 6 pm</li>
        <li>Sunday, noon to 6 pm</li>
      </ul>
    </div>
    <div class="large-4 medium-4 columns">
      <img src="{{ site.baseurl }}/img/logo-stamp-white.svg" class="right">
    </div>
  </div>
  <div class="footer-bottom">
    <div class="row">
      <div class="small-12 columns connect">
        <p>Connect with us on <a href="http://www.facebook.com/skokielibrary">Facebook</a>, <a href="http://www.twitter.com/skokielibrary">Twitter</a>, <a href="#">Instagram</a>, &amp; <a href="http://www.youtube.com/skokielibrary">YouTube</a>.</p>
      </div>
        <iframe src="https://us.libraryh3lp.com/mobile/redesign@chat.libraryh3lp.com?skin=23350" class="chat-widget" id="library-chat-widget"></iframe>
        <button class="chat-widget-button" id="library-chat-button"><i class="chat-widget-control">&times;</i></button>
    </div>
  </div>
</div>
