<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <a href="{{ site.baseurl }}/">
          <svg width="126" height="50" class="svg-logo">
            <image xlink:href="{{ site.baseurl }}/img/logo.svg" src="img/logo.png" width="126" height="50" /></image>
          </svg>
        </a>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right right-nav-section">
        <li class="has-dropdown">
          <a href="{{ site.baseurl }}/events" class="nav-item">Events</a>
          <ul class="dropdown">
            <li><a href="#">Kids</a></li>
            <li><a href="#">Teens</a></li>
            <li><a href="#">Adults</a></li>
            <li><a href="#">Technology classes</a></li>
            <li><a href="#">Movie schedule</a></li>
            <li><a href="#">Performances</a></li>
            <li><a href="#">Book discussions</a></li>
            <li><a href="#">Author visits</a></li>
            <li><a href="#">Propose a program</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="#" class="nav-item">Books, Movies, More</a>
          <ul class="dropdown">
            <li><a href="#">New items</a></li>
            <li><a href="#">Staff recommendations</a></li>
            <li><a href="#">Lists</a></li>
            <li><a href="#">Local authors</a></li>
            <li><a href="#">eBooks &amp; downloads</a></li>
            <li><a href="{{ site.baseurl }}/books-movies-more/cant-find-item">Can't find an item?</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="{{ site.baseurl }}/resources" class="nav-item">Resources</a>
          <ul class="dropdown">
            <li><a href="{{ site.baseurl }}/resources">Research a topic</a></li>
            <li><a href="#">Online training &amp; tutorials</a></li>
            <li><a href="#">Homework help</a></li>
            <li><a href="#">Local history</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="#" class="nav-item">Services</a>
          <ul class="dropdown">
            <li><a href="{{ site.baseurl }}/services/bookmobile">Bookmobile</a></li>
            <li><a href="#">Study &amp; meeting rooms</a></li>
            <li><a href="{{ site.baseurl }}/services/computers-wifi">Computer, WiFi</a></li>
            <li><a href="#">Digital Media lab</a></li>
            <li><a href="#">BOOM box</a></li>
            <li><a href="#">Devices &amp; technology</a></li>
            <li><a href="{{ site.baseurl }}/services/career-advice">Career advice</a></li>
            <li><a href="#">Business services</a></li>
            <li><a href="#">Teachers &amp; schools</a></li>
            <li><a href="{{ site.baseurl }}/services/accessibility">Accessibility</a></li>
            <li><a href="#">Special needs</a></li>
            <li><a href="#">Parents</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <a href="#" class="nav-item">About</a>
          <ul class="dropdown">
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Volunteering</a></li>
            <li><a href="{{ site.baseurl }}/about/library-cards">Library cards</a></li>
            <li><a href="{{ site.baseurl }}/about/borrowing-fees">Borrowing &amp; fees</a></li>
            <li><a href="#">Policies</a></li>
            <li><a href="#">Staff</a></li>
            <li><a href="#">Board</a></li>
            <li><a href="#">History &amp; art</a></li>
            <li><a href="#">Exhibits</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>

  <div class="my-account-bin">
    <a href="#" class="right my-account alert button">My Account</a>
  </div>

</div>
