<script src="{{ site.baseurl }}/js/vendor/jquery.js"></script>
<script src="{{ site.baseurl }}/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
<script src="http://us.libraryh3lp.com/presence/jid/redesign/chat.libraryh3lp.com/js" + new Date().getTime()></script>
<script>
    $(document).ready(function(){

        $('#search-query').focus();

        var current = new Date().getTime();
        var presence_url = 'http://us.libraryh3lp.com/presence/jid/redesign/chat.libraryh3lp.com/js';

        var initialize_chat = function(){
            $.getScript(presence_url, function(){
                if (jabber_resources[0].show === 'available' || jabber_resources[0].show === 'chat'){
                    $('#library-chat-button').show().addClass('chat-closed');
                    $('#library-chat-widget').show();

                    $('#library-chat-button').click(function(){
                        if ($(this).hasClass('chat-closed')) {
                          $('#library-chat-widget').animate({'bottom' : '0', 'width': '300px'});
                          $('#library-chat-button').animate({'bottom': '354px'});
                        } else {
                          $('#library-chat-widget').animate({'bottom': '-352px', 'width': '210px'}, 'fast');
                          $('#library-chat-button').animate({'bottom': '0'}, 'fast');
                        }

                        $(this).toggleClass('chat-closed').toggleClass('chat-opened');
                    });
                }
                else{
                    $('#library-chat-button').hide();
                    $('#library-chat-widget').hide();
                }
            });
        }

        initialize_chat();
        window.setInterval(initialize_chat, 120000);
    });
</script>
