<script src="{{ site.baseurl }}/js/vendor/jquery.js"></script>
<script src="{{ site.baseurl }}/js/foundation.min.js"></script>
<script type="text/javascript">
    setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0022/2912.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
<script>
  $(document).foundation();
</script>
<script src="http://us.libraryh3lp.com/presence/jid/redesign/chat.libraryh3lp.com/js" + new Date().getTime()></script>
{% if page.title == 'Events' %}
<script src="{{ site.baseurl }}/js/vendor/handlebars-v2.0.0.js"></script>
<script src="{{ site.baseurl }}/js/vendor/moment.js"></script>
<script>

    // Catch filter onclicks
    document.getElementById("kid-filter").onclick = function(){
      filterEvents('kids-event');
    };
    document.getElementById("adult-filter").onclick = function(){
      filterEvents('adults-event');
    };
    document.getElementById("teen-filter").onclick = function(){
      filterEvents('teens-event');
    };
    document.getElementById("family-filter").onclick = function(){
      filterEvents('families-event');
    };
    document.getElementById("all-ages-filter").onclick = function(){
      filterEvents('ages-event');
    };

    document.getElementById("show-all-filter").onclick = function(){
      showAll();
    };

    function filterEvents(filter) {
      // hide all events
      var events = document.getElementsByClassName('event'), i;
      for (var i = 0; i < events.length; i ++) {
        events[i].style.display = 'none';
      }
      // show events filtered
      var filter_events = document.getElementsByClassName(filter), i;
      for (var i = 0; i < filter_events.length; i ++) {
        filter_events[i].style.display = 'block';
      }
    }

    // show all events
    function showAll() {
      var events = document.getElementsByClassName('event'), i;
      for (var i = 0; i < events.length; i ++) {
        events[i].style.display = 'block';
      }
    }

</script>
{% endif %}
<script>
    $(document).ready(function(){

        $('#search-query').focus();

        var current = new Date().getTime();
        //var presence_url = 'http://us.libraryh3lp.com/presence/jid/redesign/chat.libraryh3lp.com/js';

        var initialize_chat = function(){
            $.getScript(presence_url, function(){
                if (jabber_resources[0].show === 'available' || jabber_resources[0].show === 'chat'){
                    $('#library-chat-button').animate({'bottom' : '0'}).addClass('chat-closed');
                    $('#library-chat-widget').animate({'bottom': '-352px'});

                    $('#library-chat-button').click(function(){
                        if ($(this).hasClass('chat-closed')) {
                          $('#library-chat-widget').animate({'bottom' : '0', 'width': '300px'});
                          $('#library-chat-button').animate({'bottom': '354px'});
                        } else {
                          $('#library-chat-widget').animate({'bottom': '-352px', 'width': '210px'}, 'fast');
                          $('#library-chat-button').animate({'bottom': '0'}, 'fast');
                        }

                        $(this).toggleClass('chat-closed').toggleClass('chat-opened');
                    });
                }
                else{
                    $('#library-chat-button').hide();
                    $('#library-chat-widget').hide();
                }
            });
        }

        //initialize_chat();
        //window.setInterval(initialize_chat, 120000);

        var calendar = {};
        var days = [];

        $.getJSON('{{ site.baseurl }}/data/events.json', function(data){

            console.log(data)
            var events = data.event;

            console.log(events)

                $.each(events.item, function(i){
                    var item = events.item[i];
                    console.log(item)
                    if ( days.indexOf(item.date1[0]) === -1 ) {
                        days.push(item.date1[0]);
                        calendar[item.date1[0]] = {"date" : item.date1[0], "events" : []};
                    }
                    calendar[item.date1[0]].events.push(item);
                });

                console.log(calendar)
                console.log(days)

                $.each(days, function(i){
                    var source   = $("#event-template").html();
                    var template = Handlebars.compile(source);
                    var context = calendar[days[i]];
                    //console.log(JSON.stringify(context))
                    var html = template(context);
                    $('#events-list').append(html);
                });


        });

        Handlebars.registerHelper('to_lower_case', function(str) {
          return str[0].toLowerCase();
        });

        Handlebars.registerHelper('format_date', function(str) {
          return moment(str).format("dddd, MMMM DD");
        });

        Handlebars.registerHelper('make_button', function() {
            var link = Handlebars.escapeExpression(this.link[0]);
          if (this.signup[0] === "1" || this.signup[0] === "2"){
              return new Handlebars.SafeString(
                '<a href="' + link + '" class="register right">Register<i class="first-arrow arrow-teal"></i><i class="arrow-teal"></i><i class="arrow-teal"></i></a>'
                );
          }
        });

        Handlebars.registerHelper('featured_event', function() {
            if (this.featuredevent[0] === "1"){
                return "featured-event"
            }
        });

    });
</script>
