body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  color: #594A41;
}

body a {
   color: #EE3E2C;
}

body a:hover {
   color: #EE3E2C;
}

h5 {
  font-weight: 600;
}

body .navbar {
  margin-bottom: 0;
  border: none;
  background-color: transparent;
}

body .navbar {
  margin-bottom: 0;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
}

.navbar-left {
  margin-left: -30px;
}

body .navbar-left a, body .navbar-right a {
  color: #006067 !important;
  font-size: 18px;
  font-weight: 400;
}

body .navbar-left li li a {
  font-size: 14px;
}

body .navbar-left li li a:hover {
  text-decoration: underline;
}

body .search-button:hover {
  background-color: #e62612;
}

body .navbar a {
  font-weight: 400;
}

body h4 {
  border-top: solid 3px;
  padding-top: 5px;
  color: #006067;
  text-transform: uppercase;
}

body .btn-primary {
  background-color: #EE3E2C;
  border: none;
  border-radius: 0;
}

body .container .jumbotron {
  border-radius: 0;
  background: url("../img/header/HeaderLaunch.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 440px;

  border-radius: 0;
  margin-bottom: 15px;

  padding: 0;
  margin: 0 -50px;
}

.navbar-nav > li > .dropdown-menu {
  border: solid 1px #005951;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0;
  margin-bottom: 0px;
  background-color: #fff;
}

.navbar-nav > li > .dropdown-menu a{
  color: #006067;
}

.jumptron-text-small {
  display: none;
}

.navbar-left .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: #fff !important;
  color: #006067;
}

body .navbar-left li li a:hover{
  text-decoration: underline;
}

.form-control:focus {
  box-shadow: rgba(238,62,44,.6);
}

.btn:focus, .btn:active,  {
  box-shadow: rgba(238,62,44,.6);
  outline-color: rgba(238,62,44,.6);
}

button:focus {outline:0 !important;}

input {
  border: 1px solid #ccc !important;
}

video {
  margin-bottom: -5px;
}

.input-group {
  margin-top: 38px; margin-right: 50px;
}

body .jumbotron-text {
  color: #fff;
  font-size: 26px !important;
  margin-right: 50px;
  margin-top: 30px;
  font-weight: 400;
}

@media (max-width: 991px) {
  body .container .jumbotron {
    height: 240px;
  }
}

@media (max-width: 768px) {
  .large-logo {
    display: none;
  }

  body .container .jumbotron {
    margin: 0 -30px;
    margin-top: 110px;
  }

  .jumbotron-text {
    display: none;
  }

  .jumptron-text-small {
    padding-top: 10px;
    display: block
  }

  .input-group {
    margin: 0;
    margin-top: -51px;
    z-index: 0;
  }

  .navbar-left {
    margin-left: 0;
  }

  .navbar-right {
    display: none;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #006067;
    margin-left: 0;
  }

  body .navbar-left li li a:hover {
    color: #fff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
  }

  .img-div {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .main-navigation {
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 10
  }

}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  margin: 0 auto;
  margin-top: 4px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #006067;
}

@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block !important;
  }

  .dropdown:hover {
    color: #EE3E2C;
  }
}

.navbar-default .navbar-left > li > a:hover, .navbar-default .navbar-left > li > a:focus,
.navbar-default .navbar-right > li > a:hover, .navbar-default .navbar-right > li > a:focus {
  color: #006067;
  background-color: #F0EEEB;
}

.nav {
  z-index: 10;
}

.action-link {
  color: #EE3E2C;
}

body .action-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #EE3E2C;
  color: #fff;
  margin: 15px 0;
}
body .action-button:hover {
  background-color: #e62612;
  color: #fff;
}

.action-link:after{
  content: '\25B6\25B6\25B6';
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 2px;
  padding-left: 5px;
}

.navbar-default .navbar-left>li>a {
  font-weight: 400;
  color: #006067;
}

.navbar-right a {
  color: #006067;
  font-weight: 400;
}

.navbar-nav > li > a {
  padding-top: 40px;
  padding-bottom: 40px
}
