body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  color: #594A41;
}

body a {
   color: #EE3E2C !important;
}

.action-link:after{content:' \25B6 \25B6 \25B6'; font-size: 12px;}

h5 {
  font-weight: 600;
}

body .navbar {
  margin-bottom: 0;
  border: none;
  background-color: transparent;
}

body .navbar {
  margin-bottom: 0;
  border: none;
  background-color: transparent;
}

body .navbar-left a {
  color: #006A61 !important;
  font-size: 18px;
  font-weight: 400;
}

body .navbar-left li li a {
  font-size: 14px;
}

.btn-login {
  background-color: #EE3E2C !important;
  color: #fff !important;
  border-radius: 0;

  font-size: 18px;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}

body .navbar a {
  font-weight: 600;
  text-transform: uppercase;
}

body h4 {
  border-top: solid 3px;
  padding-top: 5px;
  color: #EE3E2C;
  text-transform: uppercase;
}

body .btn-primary {
  background-color: #EE3E2C;
  border: none;
  border-radius: 0;
}

body .container .jumbotron {
  border-radius: 0;
  background: url("../img/feature_large.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;

  border-radius: 0;
  margin-bottom: 15px;

  padding: 0;
  margin: 0;
}
